$primary: rgb(0, 175, 200);
$gray: #f5f5f5;

$theme-colors: (
  "primary": $primary
);

$web-font-path: "https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,900|IBM+Plex+Sans&display=swap";
@import url($web-font-path);

@import "../node_modules/bootswatch/dist/lux/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/lux/bootswatch";

.bg-primary {
  background-color: $primary !important;
}

body {
  padding-top: 89px;
  background-color: #f5f5f5 !important;
}

.bg-gray {
  background-color: $gray;
}

.bg-footer {
  background: darken($dark, 7%);
}

.exp {
  height: 100%;
}
@import "hero";
